.App {
  text-align: center;
}

/* .body {
  background-image: url(https://i.pinimg.com/originals/25/46/b2/2546b270c10401222fc3b950902ad20c.jpg);
  background-size: cover;
  backdrop-filter: blur(4px);
} */

video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.mainbox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
}

.searchbox {
  text-align: center;
  height: 400px;
  background-image: url(https://media0.giphy.com/media/1uLQUtPLbJMQ0/giphy.gif?cid=ecf05e47wkr2fjjjxvjnqrllb3eatokysw7lh5emadg9rrla&rid=giphy.gif);
  border-radius: 10px;
  box-shadow: 0px 0px 10px;
}

.inputbox{
  padding: 10px;
}

.inputVal {
  border-radius: 5px;
}

.temp{
  font-size: 60px;
}
.desc{
  font-size: 25px;
  text-transform: capitalize;
}

.name,.desc,.temp{
  color: rgb(8, 8, 8);
  text-shadow: 2px 2px 10px rgb(201, 243, 255);
}

.clicksub {
  background-color: rgb(247, 134, 200);
  border-radius: 5px;
}


.clicksub:hover{
  background-color: rgb(247, 4, 85);
  color: white;
}

#image{
  filter: saturate(50%);
 
  filter: contrast(100%);
  filter: brightness(100%);
  filter:drop-shadow(0px 0px 10px #b1fd01);
}

@media (orientation:portrait){
  .searchbox{
      height: 470px;
      width: 350px;
  }

  .inputVal{
     width: 200px; 
     height: 25px;
  }
  .clicksub{
      width: 100px;
      height: 28px;
  }
}

#creator {
   color: white;   
}
